<!DOCTYPE HTML>
<html>

<head>
        <title>Search Sensor Data</title>
        <style>
            body {
            background-color: linen;
            }

            h1 {
              color: maroon;
              margin-left: 40px;
            }
            table, th, td {
              border: 1px solid black;
            }
            #header {
             background-color:black;
             color:white;
             text-align:center;
             padding:5px;
            }
            #footer {
             background-color:black;
             color:white;
             clear:both;
             text-align:center;
             padding:5px;
            }
        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
</head>
<script type="text/javascript">
        // Reuse and customization of the BLOG http://tech.scargill.net/a-node-red-websockets-web-page/
        // Using http://stackoverflow.com/questions/5881033/how-to-generate-ul-li-list-from-string-array-using-jquery
        // Init
        var socketNameOut = "testing";
        var socketNameIn  = "testingin";
        var loc = window.location;
        var newUriIn = "";
        var newUri = "";

        if (loc.protocol === "https:") {
            newUri = "wss:";
            newUriIn = "wss:";
        } else {
            newUri = "ws:";
            newUriIn = "ws:";
        }
        newUri += "//" + loc.host + "/ws/" + socketNameOut;
        newUriIn += "//" + loc.host + "/ws/" + socketNameIn;
        var topics = {};

        // Connect to socket and get message
        function wsConnectC() {
            console.log("connect to: ",newUri);
            var socket_get = new WebSocket(newUri);
            console.log("socket_get", socket_get);

            socket_get.onopen = function() {
                $("#status").html("loadSearchResult-Connected");
                console.log("socket_get-connected");
            }

            socket_get.onmessage = function(msg) {
                var line = "";
                console.log(msg.data);

                // Clear List and Table
                $('.SensorResultList').empty();
                $('.SensorResultTable').empty();

                // Get sensorData for the socket
                var sensorData = JSON.parse(msg.data);
                var sensors = sensorData.docs;
                var resultcount = sensors.length;
                $("#resultcount").html(resultcount);
                $("#status").html("not connected");

                // Build list and Table
                var ObjUl = $('<ul></ul>');
                // http://www.w3schools.com/jquerymobile/tryit.asp?filename=tryjqmob_tables_columntoggle
                var ObjTable = $('<table data-role="table" data-mode="columntoggle" class="ui-responsive" id="myTable">');
                // Create Header for Table
                // ObjTable.append('<caption>Result of Sensor Data Search</caption>');
                // Create columns
                ObjTable.append('<thead><th data-priority="1">DeviceID</th>'+
                                       '<th data-priority="2">Temperature</th>' +
                                       '<th data-priority="3">Status</th>' +
                                       '<th data-priority="4">Message</th>' +
                                       '<th data-priority="5">Image</th>' +
                                       '</thead>');
                ObjTable.append('<tbody>');


                for(var i = 0; i < sensors.length; i++) {
        			    var sensor = sensors[i];

                  //List
                  var Objli = $('<li></li>');
                  var Obja = $('<a></a>');

                  ObjUl.addClass("ui-menu-item");
                  ObjUl.attr("role", "menuitem");
                  Obja.addClass("ui-all");
                  Obja.attr("tabindex", "-1");
                  Obja.text(sensor.message);
                  Objli.append(Obja);
                  ObjUl.append(Objli);

                  //Table
                  ObjTable.append( '<tr><td>' + sensor.deviceId + '</td>' +
                                    '<td>' + sensor.temp + '</td>' +
                                    '<td>' + sensor.status + '</td>' +
                                    '<td>' + sensor.message + '</td>' +
                                    '<td>' + '<img src="'  + sensor.image + '"/></td>' +
                                    '</tr>' );

                }
                ObjTable.append('</tbody>');
                ObjTable.append('</table>');

                $('.SensorResultList').append(ObjUl);
                $('.SensorResultTable').append(ObjTable);
            }

            socket_get.onerror = function(){
                console.log("socket_get-error");
            };

            socket_get.onclose = function() {
                $("#status").html("not connected");
                console.log("socket_get not connected");
            }
        }

        // Send message to socket
        function sendMessage(){
           // send message back to page in simple JSON format
           // example {“part1”:”Hello”,”part2”:”50”}
           //var toPage='{"payload":"'+$("#txtMsg_1").val()+'"}';
           //var searchExp = '"{ "cloudant" : { "searchExp" : "'+$("#txtMsg_1").val()+'" }}"';
           var searchExp = $("#txtMsg_1").val();
           var socket_send = new WebSocket(newUriIn);
           console.log("newUriIn", newUriIn);
           console.log("socket_send", socket_send);

           socket_send.onopen = function() {
               $("#status").html("sendSearch-connected");
               console.log("socket_send-connected");
               // https://developer.mozilla.org/en-US/docs/Web/API/WebSocket#Ready_state_constants
               if (socket_send.readyState === 1) {
                  socket_send.send(searchExp);
                  console.log("socket_send.send", searchExp);

                  // In case the search is not successful the result is emtpy
                  // Clear List and Table
                  $('.SensorResultList').empty();
                  $('.SensorResultTable').empty();

                  // Clear resultcount
                  var resultcount = 0;
                  $("#resultcount").html(resultcount);
               }
           }

           socket_send.onerror = function(){
               console.log("socket_send-error");

           };

           socket_send.onclose = function() {
               $("#status").html("not connected");
               console.log("Socket_send not connected");
           }
        } // end sendMessage

        function goToMapURL() {
          location.href = 'http://owniotcloud.mybluemix.net/map';
        }

        function goToAllDataURL() {
          location.href = 'http://owniotcloud.mybluemix.net/cloudant';
        }

        function goToVoiceMessageURL() {
          location.href = 'http://owniotcloud.mybluemix.net/audio';
        }

</script>

<body onload="wsConnectC();" onunload="socket_get.disconnect;">
<div data-role="page" id="one">
        <style>body{background-color: linen;}h1{color: maroon;margin-left: 40px;}table, th, td {border: 1px solid black;}</style>
        <div data-role="header">
            <h1>Sensor Data Search Page</h1>
        </div>
        <div role="main" class="ui-content">
            <a href="javascript:void(0)" onclick="goToMapURL(); return false;">Go to all Sensor locations</a>
            <a href="javascript:void(0)" onclick="goToAllDataURL(); return false;">Go to all Sensor data</a>
            <a href="javascript:void(0)" onclick="goToVoiceMessageURL(); return false;">Go to all Sensor voice messages</a>
            <hr/>
            <h1>Search Sensor Data</h1>
            <div id="status">status unknown</div>
            <input id="txtMsg_1" />
            <hr/>
            <div id="resultcount">0</div>
            <hr/>
            <input type="button" value="Send Search" onClick="sendMessage()" />
            <hr/>
            <input type="button" value="Load Search Result" onClick="wsConnectC()" />
            <!-- <div class="SensorResultList" ></div> -->
            <hr/>
            <div class="SensorResultTable" ></div>
        </div>
    </div>
    </body>
</html>
