<!DOCTYPE html>
<html>
  <head>
    <style>
        body {
        background-color: linen;
        }

        h1 {
          color: maroon;
          margin-left: 40px;
        }
        table, th, td {
          border: 1px solid black;
        }
        #header {
         background-color:black;
         color:white;
         text-align:center;
         padding:5px;
        }
        #footer {
         background-color:black;
         color:white;
         clear:both;
         text-align:center;
         padding:5px;
        }
    </style>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Extract Cloudant Data</title>
    <script type="text/javascript">
		function initialize() {
      // Use browser URL to define socket URL
	    var loc = window.location;
      var messageCount = 0;
	    var sensorGeoPage=""
      if (loc.protocol === "https:") {
            newUri = "wss:";
      } else {
            newUri = "ws:";
      }
      newUri += "//" + loc.host + "/ws/cloudant";

      // Define the related GeoPage URL
      sensorGeoPage=loc.protocol + "//" + loc.host + "/map";

		  var output = document.getElementById('output');
      var sock = new WebSocket(newUri);

		  sock.onopen = function(){
		    //$('#output').text('Waiting for cloudant data ...');
		    console.log("Connected websocket");
		    console.log("Sending ping..");
			  sock.send("Ping!");
		    console.log("Ping sended..");
		  };

		  sock.onerror = function(){
		      document.write("<p>Problem Error!!</p>");
		      console.log("Websocket error");

		  };

		  sock.onmessage = function(evt){
        message = "Getting sensor data: " + messageCount;
        messageCount++;
		    console.log(message);

        // ************************************************
        // Create HTML-Page BEGIN
		      document.write("<style>body{background-color: linen;}h1{color: maroon;margin-left: 40px;}table, th, td {border: 1px solid black;}</style>");
		      document.write("<p>Cloudant Sensor Data are available!</p>");
		      document.write("<p>***************************</p>");
		      // document.write(evt.data);
		      // document.write("<p>***************************</p>");

          // Get sensorData for the socket
          var sensorData = JSON.parse(evt.data);

          document.write("<p>Show Table</p>");
		      document.write("<a href="+sensorGeoPage+">Go to Senosor Geo Page</a>");
		      document.write("<p>***************************</p>");

          // Build table
		        var myTable= "<table>";
		        myTable+="<tr>";
		        myTable+="<td style='width: auto; color: black; text-align: center;'>Count</td>";
            myTable+="<td style='width: auto; color: black; text-align: center;'>Message</td>";
            myTable+="<td style='width: auto; color: black; text-align: center;'>Temperature</td>";
            myTable+="<td style='width: auto; color: black; text-align: center;'>DeviceId</td>";
            myTable+="<td style='width: auto; color: black; text-align: center;'>DeviceType</td>";
            myTable+="<td style='width: auto; color: black; text-align: center;'>GeoLocation</td>";
            myTable+="<td style='width: auto; color: black; text-align: center;'>Date and Time</td>";
            myTable+="<td style='width: auto; color: black; text-align: center;'>Status</td>";
            myTable+="<td style='width: auto; color: black; text-align: center;'>Image</td>";
            myTable+="<td style='width: auto; color: black; text-align: center;'>Comment</td>";
            myTable+="</tr>";
            //myTable+="<tr><td style='width: 100px;                   '>---------------</td>";
            //myTable+="<td     style='width: 100px; text-align: right;'>---------------</td>";
            //myTable+="<td     style='width: 100px; text-align: right;'>---------------</td></tr>";

          // get datalist
          var sensors = sensorData.docs;

          // create table rows
          for(var i = 0; i < sensors.length; i++) {
  			   var sensor = sensors[i];
  			   //output = document.write("<p>"+ sensor + "</p>");
  			   myTable+="<tr>";
  			   myTable+="<td style='width: auto; color: blue; text-align: left;'>(" + i + ")</td>";
                myTable+="<td style='width: auto; color: blue; text-align: left;'>" + sensor.message + "</td>";
                myTable+="<td style='width: auto; color: blue; text-align: left;'>" + sensor.temp + "</td>";
                myTable+="<td style='width: auto; color: blue; text-align: left;'>" + sensor.deviceId + "</td>";
                myTable+="<td style='width: auto; color: blue; text-align: left;'>" + sensor.deviceType + "</td>";
                myTable+="<td style='width: auto; color: blue; text-align: left;'> (" + sensor.gtfs_latitude + "):(" + sensor.gtfs_longitude  + ")</td>";
                myTable+="<td style='width: auto; color: blue; text-align: left;'> (" + sensor.date + "):(" + sensor.time  + ")</td>";
                myTable+="<td style='width: auto; color: black; text-align: left;'> <b>" + sensor.status +"</b></td>";
                myTable+="<td style=''><img width='100' height='100' alt='No Image' src='"+ sensor.image +"'/></td>";
                myTable+="<td style='width: auto; color: black; text-align: left;'> <b>" + sensor.comment +"</b></td>"
                myTable+="</tr>";
  			   }
           myTable+="</table>";

           // Write table in browser
           document.write( myTable);
           document.close();
  		  };
		 };
     </script>
  </head>
  <body>
    <!-- *****     CHANGES  ***** -->
    <!-- Insert YOUR BLUEMIX URL  -->
    <div id="header">
      <p>Hello this is the Cloudant Sensor Data Site ... </p> <a href="http://YOUR_BLUEMIX_URL/map">Go to Senosor Data Page</a>
    </div>
    <div id="output">Connecting to Socket to get the Cloudant Sensor Data...</div>
    <script type="text/javascript">
       initialize();
    </script>
    <div id="footer">
       IoT Bluemix Mobile Sample Page
    </div>
  </body>
</html>
